  .fullblock {
      background-color: aliceblue;
  }
  

  .searchbox {
    background-color: white;
  }
  
  .compose-block {
    height: 50px;
    position: relative;

  }

  .compose-button {
    height: 35px;
    background-color: turquoise;
    float: right;
    width: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .message-block {
    background-color: white;
    border-radius: 10px;
    margin: 9px !important;
    padding-left: 10px !important;
  }

  .spacing {
    margin-top: 20px !important;
  }

  .message-block .MuiListItem-gutters {
    padding: 0px 16px 0px 0px;
  }

  .message .MuiTypography-body1 {
    font-size: 0.7rem;
    text-align: left;
  }
  .message-block .MuiListItemText-root { 
    margin: 0px;
  }

  .message-block2 {
    border-radius: none;
  }