  .blue-bg {
      background-color: aliceblue;
  }
  .block-spacing {
    width: 270px;
  }
  
  .white-bg {
    background-color: white;
  }
  
  .compose-block {
    height: 50px;
    position: relative;

    // .MuiGrid-item{
    //   padding-left: 15px;
    // }
  }

  .compose-button {
    height: 22px;
    background-color: #31AAB7;
    float: right;
    width: 75px;;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;

  }

  .message-block {
    border-radius: 10px;
    margin: 9px !important;
    padding-left: 10px !important;
  }

  .spacing {
    margin-top: 20px !important;
  }

  .message-block {
    .MuiListItem-gutters {
      padding: 0px 5px 0px 0px;
    }
    .MuiListItemText-root {
      margin: 0px;
    }
  }
  .message {
    .MuiTypography-body1, .MuiTypography-body2 {
      //styleName: Body / Small;
      font-family: Work Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0px;
    }
  }

  
  .message-block2 {
    .MuiListItemText-root {
      border-radius: none;
    }
    .MuiListItem-gutters {
      padding: 0px 16px 0px 0px;
    }
  }

  .search-box {
    .MuiPaper-elevation1 {
      box-shadow: none;
      height: 32px;
    }
    .MuiGrid-container {
      background-color: #ffffff;
    }
  }

  .search-icon {
    margin-left: 13px;
    .MuiIconButton-root {
      padding: 0px 12px 0px 12px;
      
    }
     
  }
  
  .user-name {
    .MuiTypography-body1 {
    font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 16px;
letter-spacing: 0px;
text-align: left;

    }
  }

.compose-text {
  //styleName: Buttons & Labels / Small;
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0px;
text-align: center;
color: #ffffff;
float: right;
margin-top: 5px

}  

.dot {
  height: 10px;
  width: 10px;
  background-color: #0078CE;
  border-radius: 50%;
  display: inline-block;
  right: 0px;
  position: absolute;
  position: relative;
    float: right;
    margin-right: 10px;
 
}

.dot-offline {
  background-color: #7D92A1;
}


