.MuiGrid-grid-xs-1 {
    flex-grow: 0;
    max-width: 3.333333%;
    flex-basis: 3.333333% !important;
}

.panel-container {
    width: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.panel-icon {
    margin-top: 10px;
}

.smile-icon {
    top: 0px;
}
