.paperBlock {
    padding: 8;
    border: "1px solid black";
    margin: 20;

}

.user-block {
    height: 100%;
    width: 102%;
left: 1249px;
border-radius: 0px;
background-color: #EAF0FF;
padding: 10px;

@media screen and (max-width: 1350px) {
    width: 126%;
}

.MuiGrid-item {
    margin-top: 50px;
}

.composeIcon {
    justify-content: right;
    display: flex;
    align-items: end;
    float: inherit;
}

}

.rectangle {
    height: 125px;
    // width: 293px;
    left: 1260px;
    top: 357px;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 15px;

    .MuiBox-root{
        flex-wrap: wrap;
        display: flex;
    }

}

.rectangle-text{
    font-family: Work Sans;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0px;
text-align: left;
}

.address-text {
    height: 21px;
width: 54px;
left: 1312px;
top: 368px;
border-radius: nullpx;

}

.message-spacing {
    margin-left: 15px;
}

.gearIcon {
    color: #AAB2B8;
    height: 22px;
width: 22px;
left: 1px;
top: 1px;
border-radius: 0px;

}

.arrowIcon {
    height: 18px;
width: 9px;
left: 21px;
top: 7px;
border-radius: 0px;
color: #324552
}

.italic-text {
    font-style: italic;
}

.userIcon{
    display: flex;
    justify-content: center;
    align-items: center;

    .MuiAvatar-root {
        display: flex;
    position: absolute;
    align-items: center;
    height: 96px;
    width: 96px;
    }
}

