.paperBlock {
    padding: 8;
    border: "1px solid black";
    margin: 20;
}

.user-block {
    height: 100%;
    width: 234px;
left: 1249px;
top: 77px;
border-radius: 0px;
background-color: #EAF0FF;

}

.rectangle {
    height: 171px;
    // width: 293px;
    left: 1260px;
    top: 357px;
    border-radius: 15px;

}

.rectangle-text {
    height: 21px;
width: 102px;
left: 1312px;
top: 412px;
border-radius: nullpx;

}

.address-text {
    height: 21px;
width: 54px;
left: 1312px;
top: 368px;
border-radius: nullpx;

}

