.chat-block {
    padding: 10px;
    background-color: rgb(146, 219, 168);
    width: 250px;
    border-radius: 8px;
    min-height: 30px;
}

.chat-grid {
    padding: 20px;
    position: relative;
}

.chat-grid {
    .MuiListItem-gutter {
        padding: 0px !important;
    }
}

.message {
    bottom: 0px;
    position: absolute
}