.chat-block {
    padding: 10px;
    background-color: rgb(146, 219, 168);
    width: 250px;
    border-radius: 8px;
    min-height: 30px;
    .MuiTypography-body1 {
        font-size: 12px;
    }
}

.chat-grid {
    padding: 20px;
    position: relative;
}

.chat-msg {
    .MuiListItem-gutter {
        padding-left: 0px !important;
    }
}

.message-box {
    bottom: 0px;
    position: absolute;
}

.icon {
    margin: 0px 10px 0px 10px;
    padding-top: 15px;
}